#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  height: 100vh;
}

.tableDiv {
  overflow: auto;
  scroll-behavior: smooth;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 1px gray;
}

.nameForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nameForm > input{
  width: 70%;
}

.searchByNameDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchByNameDivList {
  text-align: left;
  position: relative;
}

.datePicker {
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .nameForm {
    flex-direction: column;
  }

  .nameForm > input{
    width: 100%;
    margin-bottom: 5px;
  }   
}